############################################
# Visual Studio / Rider / VS Code
############################################
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Build outputs
############################################
bin/
obj/
out/
build/

############################################
# ASP.NET Core
############################################
wwwroot/lib/
wwwroot/dist/

############################################
# Logs
############################################
*.log
logs/

############################################
# OS files
############################################
.DS_Store
Thumbs.db

############################################
# NuGet
############################################
*.nupkg
.nuget/

############################################
# Secrets / configs locais
############################################
appsettings.Development.json
secrets.json

############################################
# Node (caso use futuramente)
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*